In [1]:
with open('Staff.txt', 'r', encoding='utf-8') as f:
    jsonstr = f.read()

In [2]:
jsonstr

'| ID  |  Name | DeptId| Age | Gender | Salary |\n| --- |  ---  |  ---  | --- |  ---   | ------ |\n| 001 | Jay   | 001   | 50  |   M    | 56000  |\n| 002 | Jenny | 001   | 30  |   F    | 47000  |\n| 003 | Rick  | 002   | 45  |   M    | 50000  |\n| 004 | David | 003   | 47  |   M    | 45000  |\n| 005 | Jake  | 002   | 32  |   M    | 55000  |\n| 006 | Abby  | 001   | 25  |   F    | 40000  |\n| 007 | Trump | 003   | 80  |   M    | 90000  |\n| 008 | Eric  | 001   | 26  |   M    | 85000  |'

In [3]:
print(jsonstr)

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Jay   | 001   | 50  |   M    | 56000  |
| 002 | Jenny | 001   | 30  |   F    | 47000  |
| 003 | Rick  | 002   | 45  |   M    | 50000  |
| 004 | David | 003   | 47  |   M    | 45000  |
| 005 | Jake  | 002   | 32  |   M    | 55000  |
| 006 | Abby  | 001   | 25  |   F    | 40000  |
| 007 | Trump | 003   | 80  |   M    | 90000  |
| 008 | Eric  | 001   | 26  |   M    | 85000  |

In [4]:
jsonstr = jsonstr.replace(' ', '')

In [5]:
jsonstr

'|ID|Name|DeptId|Age|Gender|Salary|\n|---|---|---|---|---|------|\n|001|Jay|001|50|M|56000|\n|002|Jenny|001|30|F|47000|\n|003|Rick|002|45|M|50000|\n|004|David|003|47|M|45000|\n|005|Jake|002|32|M|55000|\n|006|Abby|001|25|F|40000|\n|007|Trump|003|80|M|90000|\n|008|Eric|001|26|M|85000|'

In [6]:
print(jsonstr)

|ID|Name|DeptId|Age|Gender|Salary|
|---|---|---|---|---|------|
|001|Jay|001|50|M|56000|
|002|Jenny|001|30|F|47000|
|003|Rick|002|45|M|50000|
|004|David|003|47|M|45000|
|005|Jake|002|32|M|55000|
|006|Abby|001|25|F|40000|
|007|Trump|003|80|M|90000|
|008|Eric|001|26|M|85000|

In [11]:
column_str = jsonstr.split('\n')[0]
column_str

'|ID|Name|DeptId|Age|Gender|Salary|'

In [12]:
column = column_str.split('|')
column

['', 'ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary', '']

In [13]:
column = column[1:-1]
column

['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary']

In [14]:
data_str = jsonstr.split('\n')
data_str

['|ID|Name|DeptId|Age|Gender|Salary|',
 '|---|---|---|---|---|------|',
 '|001|Jay|001|50|M|56000|',
 '|002|Jenny|001|30|F|47000|',
 '|003|Rick|002|45|M|50000|',
 '|004|David|003|47|M|45000|',
 '|005|Jake|002|32|M|55000|',
 '|006|Abby|001|25|F|40000|',
 '|007|Trump|003|80|M|90000|',
 '|008|Eric|001|26|M|85000|']

In [15]:
data_str = data_str[2:]
data_str

['|001|Jay|001|50|M|56000|',
 '|002|Jenny|001|30|F|47000|',
 '|003|Rick|002|45|M|50000|',
 '|004|David|003|47|M|45000|',
 '|005|Jake|002|32|M|55000|',
 '|006|Abby|001|25|F|40000|',
 '|007|Trump|003|80|M|90000|',
 '|008|Eric|001|26|M|85000|']

In [18]:
data = [r.split('|')[1:-1] for r in data_str]
data

[['001', 'Jay', '001', '50', 'M', '56000'],
 ['002', 'Jenny', '001', '30', 'F', '47000'],
 ['003', 'Rick', '002', '45', 'M', '50000'],
 ['004', 'David', '003', '47', 'M', '45000'],
 ['005', 'Jake', '002', '32', 'M', '55000'],
 ['006', 'Abby', '001', '25', 'F', '40000'],
 ['007', 'Trump', '003', '80', 'M', '90000'],
 ['008', 'Eric', '001', '26', 'M', '85000']]

In [19]:
{staff[0]: {column[col]: d  for col, d in enumerate(staff)} for staff in data}

{'001': {'ID': '001',
  'Name': 'Jay',
  'DeptId': '001',
  'Age': '50',
  'Gender': 'M',
  'Salary': '56000'},
 '002': {'ID': '002',
  'Name': 'Jenny',
  'DeptId': '001',
  'Age': '30',
  'Gender': 'F',
  'Salary': '47000'},
 '003': {'ID': '003',
  'Name': 'Rick',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'David',
  'DeptId': '003',
  'Age': '47',
  'Gender': 'M',
  'Salary': '45000'},
 '005': {'ID': '005',
  'Name': 'Jake',
  'DeptId': '002',
  'Age': '32',
  'Gender': 'M',
  'Salary': '55000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '001',
  'Age': '25',
  'Gender': 'F',
  'Salary': '40000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '003',
  'Age': '80',
  'Gender': 'M',
  'Salary': '90000'},
 '008': {'ID': '008',
  'Name': 'Eric',
  'DeptId': '001',
  'Age': '26',
  'Gender': 'M',
  'Salary': '85000'}}