In [1]:
# 連接資料庫
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

Successfully connected!

In [2]:
# SQL syntax string
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Jay', '001', 50, 'M', 56000, '2020-04-24 14:59:57');
"""

cursor.execute(sql)

1

In [3]:
conn.commit()

In [4]:
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)
dt

'2020-05-16 11:10:01'

In [5]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Jenny', '001', 30, 'F', 47000, '{}');
""".format(dt)
cursor.execute(sql)
conn.commit()

In [7]:
# SELECT
sql = 'SELECT * FROM Staff;'
cursor.execute(sql)

2

In [8]:
data = cursor.fetchall()
data

(('001',
  'Jay',
  '001',
  50,
  'M',
  56000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Jenny',
  '001',
  30,
  'F',
  47000,
  datetime.datetime(2020, 5, 16, 11, 10, 1)))

In [9]:
data2 = cursor.fetchall()
data2

()

In [10]:
data[1][6].strftime('%Y-%m-%d %H:%M:%S')

'2020-05-16 11:10:01'

In [11]:
cursor.close()
conn.close()