In [1]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/b9/9f/326aaeda67ccbc9765551da7f9359f1bc5b33ecd3552b0c47233f94b801f/SQLAlchemy-1.3.17-cp37-cp37m-macosx_10_14_x86_64.whl (1.2MB)
    100% |████████████████████████████████| 1.2MB 3.5MB/s ta 0:00:01
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.17

In [2]:
# 建立連線
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:root@localhost:3306/TESTDB', echo=True)

In [3]:
# 宣告映射
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String, Date
class Staff(Base):
    __tablename__ = 'Staff'
    
    ID = Column(String(10), primary_key=True)
    Name = Column(String(45), nullable=False)
    DeptId = Column(String(10), nullable=False)
    Age = Column(Integer, default=None)
    Gender = Column(String(3), default=None)
    Salary = Column(Integer, default=None)
    RecordDt = Column(Date, nullable=False)
    
    def __repr__(self):
        return "<User(name='%s', record='%s'>"%(self.Name, self.RecordDt)

In [5]:
# 建立 session
from sqlalchemy.orm import sessionmaker
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [6]:
session.query(Staff)

In [7]:
for r in session.query(Staff):
    print(r)

2020-05-18 09:57:32,935 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-05-18 09:57:32,936 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,090 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-05-18 09:57:33,093 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,109 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-05-18 09:57:33,110 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,130 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-05-18 09:57:33,131 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,305 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-05-18 09:57:33,306 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,308 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-05-18 09:57:33,313 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,320 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-05-18 09:57:33,326 INFO sqlalchemy.engine.base.Engine {}
2020-05-18 09:57:33,344 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-18 09:57:33,347 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-05-18 09:57:33,349 INFO sqlalchemy.engine.base.Engine {}
<User(name='Jay', record='2020-05-16 11:38:37'>
<User(name='Jenny', record='2020-05-16 11:38:37'>
<User(name='Rick', record='2020-05-16 11:38:37'>
<User(name='David', record='2020-05-16 11:38:37'>
<User(name='Jake', record='2020-05-16 11:38:37'>
<User(name='Abby', record='2020-05-16 11:38:37'>
<User(name='Trump', record='2020-05-16 11:38:37'>
<User(name='Eric', record='2020-05-16 11:38:37'>

In [10]:
for r in session.query(Staff):
    print(r.ID, r.Name, r.Age)

2020-05-18 09:59:43,526 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-05-18 09:59:43,534 INFO sqlalchemy.engine.base.Engine {}
001 Jay 50
002 Jenny 30
003 Rick 45
004 David 47
005 Jake 32
006 Abby 25
007 Trump 80
008 Eric 26

In [11]:
# 查詢搭配條件
for r in session.query(Staff).filter(Staff.Salary < 50000):
    print(r.ID, r.Name, r.RecordDt)

2020-05-18 10:17:01,353 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
WHERE `Staff`.`Salary` < %(Salary_1)s
2020-05-18 10:17:01,357 INFO sqlalchemy.engine.base.Engine {'Salary_1': 50000}
002 Jenny 2020-05-16 11:38:37
004 David 2020-05-16 11:38:37
006 Abby 2020-05-16 11:38:37

In [12]:
# 建立一筆資料的物件
Staff(ID='009', Name='Allen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')

In [13]:
# 將物件 INSERT 進 Table
user1 = Staff(ID='009', Name='Allen', DeptId='001', Age=25, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')
user2 = Staff(ID='010', Name='Alex', DeptId='001', Age=28, Gender='M', Salary=80000, RecordDt='2020-05-01 21:04:52')
session.add_all([user1, user2])

In [14]:
session.commit()

2020-05-18 10:21:12,558 INFO sqlalchemy.engine.base.Engine INSERT INTO `Staff` (`ID`, `Name`, `DeptId`, `Age`, `Gender`, `Salary`, `RecordDt`) VALUES (%(ID)s, %(Name)s, %(DeptId)s, %(Age)s, %(Gender)s, %(Salary)s, %(RecordDt)s)
2020-05-18 10:21:12,559 INFO sqlalchemy.engine.base.Engine ({'ID': '009', 'Name': 'Allen', 'DeptId': '001', 'Age': 25, 'Gender': 'M', 'Salary': 80000, 'RecordDt': '2020-05-01 21:04:52'}, {'ID': '010', 'Name': 'Alex', 'DeptId': '001', 'Age': 28, 'Gender': 'M', 'Salary': 80000, 'RecordDt': '2020-05-01 21:04:52'})
2020-05-18 10:21:12,670 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
for r in session.query(Staff):
    print(r.ID, r.Name, r.Age)

2020-05-18 10:21:28,327 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-18 10:21:28,330 INFO sqlalchemy.engine.base.Engine SELECT `Staff`.`ID` AS `Staff_ID`, `Staff`.`Name` AS `Staff_Name`, `Staff`.`DeptId` AS `Staff_DeptId`, `Staff`.`Age` AS `Staff_Age`, `Staff`.`Gender` AS `Staff_Gender`, `Staff`.`Salary` AS `Staff_Salary`, `Staff`.`RecordDt` AS `Staff_RecordDt`
FROM `Staff`
2020-05-18 10:21:28,332 INFO sqlalchemy.engine.base.Engine {}
001 Jay 50
002 Jenny 30
003 Rick 45
004 David 47
005 Jake 32
006 Abby 25
007 Trump 80
008 Eric 26
009 Allen 25
010 Alex 28

In [16]:
session.close()

2020-05-18 10:23:09,383 INFO sqlalchemy.engine.base.Engine ROLLBACK